 <!-- About Section start -->
 <section id="about" class="section-padding">
    <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">{{about.tagline}}</p>
                  <h2 class="section-title">{{about.subheading}}</h2>
                </div>
                <div class="content">
                  <p>
                    {{about.heading}}   
                  </p>
                  <p>
                    {{about.headingtext}}
                  </p>
                  <a href="#" class="btn btn-common mt-3">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="assets/img/about/img-1.png" alt="" >
          </div>
        </div>
      </div>
    </div>
    </section>  
    <!-- About Section End -->