<!-- Team Section Start -->
<section id="partners" class="section-padding bg-gray">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meet Our Partners</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" src="assets/img/team/titan.png" alt="">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3><a href="#">Titan Trust Bank</a></h3>
                <!-- <p>Front-end Developer</p> -->
              </div>
              <p>Solutions/Services Provided: Head Office and Branches LAN Setup.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
            <div class="team-img">
              <img class="img-fluid" src="assets/img/team/vista.png" alt="">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3><a href="#">Vista International</a></h3>
                <!-- <p>Product Designer</p> -->
              </div>
              <p>Solutions/Services Provided: Retail Management solution, Application Program 
                interface, e-Commerce channel, payment gateway integration.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
            <div class="team-img">
              <img class="img-fluid" src="assets/img/team/dimago.png" alt="">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3><a href="#">Dimago Nigeria Limited</a></h3>
                <!-- <p>Lead Designer</p> -->
              </div>
              <p>Solutions/Services Provided: Payroll Application, Office/Process Automation.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
            <div class="team-img">
              <img class="img-fluid" src="assets/img/team/soloti.png" alt="">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3><a href="#">Soloti Gaming Limited</a></h3>
                <!-- <p>Lead Designer</p> -->
              </div>
              <p>Solutions/Services Provided: CRM solution, IP Telephony, LAN Cabling, Application Integration, Consulting.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section End -->